


.main{
    background-color: #1d1e22;
    color: bisque;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.content-artifact{
    color: pink;
    margin: 0 auto;
}

div.container4 {
    height: 10em;
    position: relative;
    font-size: large;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
div.container4 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }